.o_planning_gantt {
  .o_gantt_pill {
    &:not(.decoration-danger) {
      &:not(.decoration-warning) {
        &:not(.decoration-secondary) {
          &.decoration-info::before {
            content: none !important;
          }
        }
      }
    }
  }
}

.decoration-secondary:before {
  content: "";
  width: 20px;
  height: 16px;
  position: absolute;
  top: -11px;
  left: -13px;
  bottom: auto;
  right: auto;
  box-shadow: 1px 1px 0 white;
  background: #232db4;
  transform: rotate(45deg);
}
